                      <div style="text-align: center;">
                      <p class="h4 mb-4">Account KYC Registration Form</p>
                    </div>
<form  class="col-xl-4 col-md-6 mb-4" #addform="ngForm"   (ngSubmit)="userKyc(addform.value)">

  
   
      <div class="form-group" class="">
         <label for="pwd">AccountNumber:</label>
         <input type="number" class="form-control" placeholder="Account Number" ngModel name="accountNumber">
       </div>

       <div class="form-group">
         <label for="pwd">Name of Application:</label>
         <input type="text" class="form-control" placeholder="Name of Application" ngModel name="nameOfApplication">
       </div>

       

       <div class="form-group">
         <label for="pwd">FatherName:</label>
         <input type="text" class="form-control" placeholder="FatherName" ngModel name="fatherName">
       </div>

       <div class="form-group">
         <label for="pwd">Date Of Birth:</label>
         <input type="date" class="form-control" placeholder="DD-MM-YYYY" ngModel name="dob">
       </div>

       <div>
       <label for="pwd">Gender:</label>

      <select class="selectpicker form-control" ngModel name="gender">
     <option>Male</option>
     <option>Female</option>
     <option>Other</option>
       </select>
      </div>
      <div>
       <label for="pwd">Martial Status:</label>

       <select class="selectpicker form-control" ngModel name="martialStatus">
      <option>Married</option>
      <option>Unmarried</option>
     
        </select>
      </div>
       
      <div class="form-group">
         <label for="pwd">AddressLine1:</label>
         <input type="text" class="form-control" placeholder="AddressLine1" ngModel name="addressLine1">
       </div>

       <div class="form-group">
         <label for="pwd">AddressLine2:</label>
         <input type="text" class="form-control" placeholder="AddressLine2" ngModel name="addressLine2">
       </div>

       <div class="form-group">
         <label for="pwd">City:</label>
         <input type="text" class="form-control" placeholder="City" ngModel name="city">
       </div>

       <div class="form-group">
         <label for="pwd">State:</label>
         <input type="text" class="form-control" placeholder="State" ngModel name="state">
       </div>

       <div class="form-group">
         <label for="pwd">PostalCode:</label>
         <input type="number" class="form-control" placeholder="PostalCode" ngModel name="postalCode">
       </div>

       <div class="form-group">
         <label for="pwd">Country:</label>
         <input type="text" class="form-control" placeholder="Country" ngModel name="country">
       </div>

       <div class="form-group">
         <label for="pwd">Email:</label>
         <input type="email" class="form-control" placeholder="Email" ngModel name="email">
       </div>

       <div class="form-group">
         <label for="pwd">PhoneNumber:</label>
         <input type="number" class="form-control" placeholder="PhoneNumber" ngModel name="phoneNumber">
       </div>

       <div class="form-group">
         <label for="pwd">Occupation:</label>
         <input type="text" class="form-control" placeholder="Occupation" ngModel name="occupation">
       </div>

       <div class="form-group">
         <label for="pwd">PAN Number:</label>
         <input type="text" class="form-control" placeholder="Pan Number" ngModel name="panNumber">
       </div>

       <div class="form-group">
         <label for="pwd">Aadhar Number:</label>
         <input type="number" class="form-control" placeholder="Aadhar Number" ngModel name="aadharNumber">
       </div>


       <button type="submit" class="btn btn-primary">UPDATE</button>


       
     
 

     
 
 
</form>