<div style="text-align: center;">
    <span class="badge badge-info"></span>
    </div>
    <br>
    <br>
  
    <div class="container">
        <div class="row">
          <!-- Team Member 1 -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="../assets/balance.png" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h4 class="card-title">Check Balance</h4>
               
                <a class="nav-link"  class="btn btn-success"  routerLink="/balance">Check</a>
               
              </div>
            </div>
          </div>
  
  
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="../assets/mini.jpg" class="card-img-top" alt="..." width="100" height="250">
              <div class="card-body text-center">
                <h4 class="card-title">Mini Statement</h4>
               
                <a class="nav-link"  class="btn btn-success"  routerLink="/mini">Click Here</a>
               
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="../assets/funds.png" class="card-img-top" alt="..." height="250">
              <div class="card-body text-center">
                <h4 class="card-title">Money Transfer</h4>
               
                <a class="nav-link"  class="btn btn-success"  routerLink="/fund">Click Here</a>
               
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="../assets/utility.jpg" class="card-img-top" alt="..." height="250">
              <div class="card-body text-center">
                <h4 class="card-title">Recharge And Pay Bill</h4>
               
                <a class="nav-link"  class="btn btn-success"  routerLink="/utility">Click Here</a>
               
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="../assets/withdraw.jpg" class="card-img-top" alt="..." height="250">
              <div class="card-body text-center">
                <h4 class="card-title">Withdraw</h4>
               
                <a class="nav-link"  class="btn btn-success"  routerLink="/withdraw">Click Here</a>
               
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="../assets/deposit.jpg" class="card-img-top" alt="..." height="250">
              <div class="card-body text-center">
                <h4 class="card-title">Deposit</h4>
               
                <a class="nav-link"  class="btn btn-success"  routerLink="/deposit">Click Here</a>
               
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="../assets/kyc.jpg" class="card-img-top" alt="..." height="250">
              <div class="card-body text-center">
                <h4 class="card-title">Update Kyc</h4>
               
                <a class="nav-link"  class="btn btn-success"  routerLink="/kyc">Click Here</a>
               
              </div>
            </div>
          </div>
  
        </div>
    </div>
  